{% extends "base.html" %}
{% block content %}

<legend class="display-6 mb-4 blue" style="font-weight: 700;"><i class="fa-solid fa-user-clock"></i> Мои запросы</legend>


{% for request in requests %}
{% if request.status == 'Подтверждено' %}
<div class="content-section border border-0 shadow bg-body rounded">
  <div class="card-body">
    <h3><b>Компания: </b> {{ request.job.company }}</h3>
    <p><b>Вакансия: </b>{{ request.job }}</p>
    <div class="mb-3">
      <a href="{% url 'job-detail' request.job.id %}" class="button is-blue is-small">Посмотреть вакансию</a>
    </div>
  </div>
</div>
{% else %}
<div class="content-section border border-0 shadow bg-body rounded">
  <div class="card-body">
    <h3><b>Компания: </b> {{ request.job.company }}</h3>
    <p><b>Вакансия: </b>{{ request.job }}</p>
    <p><a class="btn btn-danger" target="_blank" href="{% url 'cancel-request' request.id %}">Отменить запрос</a></p>
  </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}