{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    label {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 600;
    }
</style>
<legend class="display-6 mb-4 blue" style="font-weight: 700;"><i class="fa-solid fa-user-plus"></i> Регистрация соискателя</legend>

    <div class="blocck">
        <form method="POST" class="content-section border border-0 shadow p-3 bg-body rounded">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="button is-blue mt-3" style="width:100%;" type="submit">Зарегистрироваться</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <p>
                <small class="text-muted">
                    Есть аккаунт? 
                    <a class="blue-link" href="{% url 'login' %}">Войти в систему</a>
                </small>
            </p>
            <p>
                <small class="text-muted">
                    Вы работодатель?
                    <a class="blue-link" href="{% url 'employer-register' %}">Пройти регистрацию</a>
                </small>
            </p>
        </div>
    </div>
{% endblock %}