{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static './css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
  <link rel="shortcut icon" href="{% static './img/favicon.svg' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<script src="https://lidrekon.ru/slep/js/jquery.js"></script>
  <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>-->
  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>Job need</title>
  {% endif %}
</head>
<style>
  .accordion-button:focus {
    box-shadow: none;
  }
</style>
<body>
<header class="navbar navbar-expand-lg navbar-light bg-primary blue-bottom-border mb-5 ">
  <div class="container">
    <a class="navbar-brand logo" href="{% url 'home-page' %}">
      <img src="{% static './img/logo.svg' %}" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          {% if not user.is_jobseeker %}
            {% if user.company.jobs %}
            <li class="nav-item">
              <a class="header-link" href="{% url 'employer-home' %}">Запросы</a>
            </li>
            <li class="nav-item">
              <a class="header-link" href="{% url 'employer-jobs' %}">Вакансии компании</a>
            </li>
            <li class="nav-item">
              <a class="header-link" href="{% url 'employer-create-job' %}">Создать вакансию</a>
            </li>
            <li class="nav-item dropdown">
              <a class="header-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.email }}&nbsp;<i class="fa-solid fa-circle-dot"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'employer-profile' %}"><i class="fa-solid fa-building"></i>&nbsp;Профиль компании</a></li>
                <form method="post" action="{% url 'logout' %}">
                     {% csrf_token %}
                <li><button class="dropdown-item" type="submit"><i class="fa-solid fa-circle-xmark"></i>&nbsp;Выход</button></li>
                </form>    
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="header-link" href="{% url 'employer-profile' %}">Профиль компании</a>
            </li>
                <form method="post" action="{% url 'logout' %}">
                 {% csrf_token %}
                <li><button class="dropdown-item" type="submit"><i class="fa-solid fa-circle-xmark"></i>&nbsp;Выход</button></li>
                </form>  
            {% endif %}
          {% endif %}
        {% if user.is_jobseeker %}
            <li class="nav-item">
              <a class="header-link" href="{% url 'home-page' %}">Вакансии</a> 
            </li>
            <li class="nav-item">
              <a class="header-link" href="{% url 'saved-jobs' %}">Избранное</a> 
            </li>
            <li class="nav-item">
              <a class="header-link" href="{% url 'jobseeker-requests' %}">Мои запросы</a>
            </li>
            <li class="nav-item dropdown">
              <a class="header-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.email }}&nbsp;<i class="fa-solid fa-circle-dot white-text"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'jobseeker-profile' %}"><i class="fa-solid fa-user"></i>&nbsp;Мой профиль</a></li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                <li><button class="dropdown-item" type="submit"><i class="fa-solid fa-circle-xmark"></i>&nbsp;Выход</button></li>
                </form>  
              </ul>
            </li>
        {% endif %}
        {% else %}
          <li class="nav-item">
            <a class="header-link" href="{% url 'employer-register' %}">Работодателям</a>
          </li>
          <li class="nav-item">
            <a class="header-link" href="{% url 'register' %}">Найти работу</a>
          </li>
          <li class="nav-item">
            <a class="header-link" href="{% url 'login' %}">Вход</a>
          </li>            
        {% endif %}
        <!--Версия для слабовидящих
          <li class="nav-item">
          <img id="specialButton" style="cursor:pointer; width: 28px; margin-left: 20px; margin-right: 25px; margin-top: 6px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/OOjs_UI_icon_eye-progressive.svg/1024px-OOjs_UI_icon_eye-progressive.svg.png" alt="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" title="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" />
        </li>-->
      </ul>
      <form class="d-flex mt-3" action="{% url 'search' %}">
        <input name="q" data-filter="1" class="form-control border border-secondary me-2" type="search" aria-label="Search" placeholder="Поиск вакансии">
        <button class="btn btn-outline-light is-small" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </div>
</header>
    <main role="main" class="container">
        <div class="row">
          <div class="col-md-4">
            <legend class="display-6 mb-4 blue" style="font-weight: 700;"><i class="fa-solid fa-clipboard-list"></i> Категории</legend>
            <div class="content-section p-4 border border-0 shadow p-3 mb-5 bg-body rounded">           
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h4 class="text-center blue mb-0">Список категорий</h4>
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        {% for category in categories %}
                          <li class="list-group-item">
                            <small><a href="{% url 'filter-by-category' category %}">{{ category }}</a></small>
                          </li>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                

            </div>
          </div>
          <div class="col-md-8">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>
          
        </div>
    </main>



    <footer class="d-flex flex-wrap justify-content-between align-items-center mt-5 pt-5 pb-5 bg-dark">
      <div class="container">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="{% static './img/favicon.svg' %}" width="32px" alt="Logo">
          </a>
          <span class="mb-3 mb-md-0 text-white">jobneed.it © <span id="year"></span>. Разработчик: <a href="#" class="text-white" style="font-weight: 600; text-decoration: none;">Естаев Данат</a></span>
        </div>
      </div>
    </footer>
    <script src="{% static './js/bootstrap.bundle.min.js' %}"></script>
    <script>
      document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
</body>
</html>
