{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
<div class="">
  <legend class="display-6 mb-4 blue" style="font-weight: 700;"><i class="fa-solid fa-business-time"></i> Последние вакансии</legend>
  {% for job in jobs %}
  <article class="content-section border border-0 shadow bg-body rounded">
    <div class="row">
      <div class="col-md-2 text-center pt-4">
        <img class="account-img" src="{{ job.company.logo.url }}">
      </div>
      <div class="col-md-10">
        <span style="font-weight: 600;">{{ job.title }}</span>
        <span class="text-muted mr-1" style="font-size: small;" >
          {% if job.created_date|naturalday == 'today' %}
          <td>(Сегодня)</td>
          {% elif job.created_date|naturalday == 'yesterday' %}
          <td>(Вчера)</td>
          {% else %}
          <td >({{ job.created_date|naturaltime }})</td>
          {% endif %}
        </span><br>
        <span style="vertical-align:middle;font-size:small;" class="mb-3">Компания: {{ job.company }}</span><br>
        <i class="text-primary material-icons" style="vertical-align: middle;font-size: medium;">&#xe0c8;</i> 
        <span style="vertical-align:middle;font-size:small;">{{ job.location }} </span><br>
        <i class="text-primary material-icons" style="vertical-align: middle;font-size: medium;" >&#xe8f9;</i>
        <span style="vertical-align:middle;font-size:small;">{{ job.get_cooperation_type_display }}</span>
        <span  class="text-muted" style="font-size: small;vertical-align: middle;">(Заработная плата {{ job.get_salary_display }})</span>
        <div class="menu-block mb-3">
          <a class="button is-blue is-small" href="{% url 'save-job' job.id %}"><i class="fa-solid fa-star text-white"></i></a>
          <a class="button is-blue is-small" href="{% url 'job-detail' job.id %}">Подробнее</a>
          <a class="button is-blue is-small" href="{% url 'request-job' job.id %}">Откликнуться</a>
        </div>
      </div>
      </div>    
    <div style="width: 100%;">
    
  </article>
  {% endfor %}




<span style="margin-bottom: 50px; display: block;"></span>
</div>
{% endblock %}