{% extends "base.html" %}
{% block content %}
<div class="blocck">
<legend class="display-6 mb-4 blue" style="font-weight: 700;"><i class="fa-solid fa-bell"></i> Новые запросы</legend>
<div class="content-section border border-0 shadow p-3 bg-body rounded table-responsive">
  <table class="table table-sm" style="text-align: center;">
    <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Вакансия</th>
            <th scope="col">Резюме</th>
            <th scope="col" colspan="2">Действия</th>
        </tr>
    </thead>
    {% for request in requests %}
    <tbody>
      <tr>
        <td>{{ request.jobseeker }}</td>
        <td><a class="blue-link" href="{% url 'job-detail' request.job.id%}"> {{ request.job }}</a></td>
        <td><a
          target="_blank" class="btn btn-primary btn-sm" href="{{ request.resume_url }}"><i class="fa-solid fa-file"></i> Резюме</a>
        </td>
        <td>
          <a class="btn btn-success btn-sm"
           href="{% url 'accept-status' request.id %}"><i class="fa-solid fa-check"></i> Принять</a>
        </td>
        <td><a class="btn btn-danger btn-sm"
          href="{% url 'delete-request' request.id %}"><i class="fa-solid fa-ban"></i> Удалить</a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
</div>
<legend class="display-6 mb-4 blue" style="font-weight: 700;"><i class="fa-solid fa-check"></i> Принятые сотрудники</legend>

<div class="content-section border border-0 shadow p-3 bg-body rounded">
  <table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Вакансия</th>
            <th scope="col">Резюме</th>
        </tr>
    </thead>
    <tbody>
      {% for request in accepted_requests %}
      {% if request.hired %}
      <tr>
        <td>{{ request.jobseeker }}</td>
        <td><a href=""> </a>{{ request.job }}</td>
        <td>
          <p>Уволен</p>
        </td>
      </tr>
      {% else %}
      <tr>
        <td>{{ request.jobseeker }}</td>
        <td><a href=""> </a>{{ request.job }}</td>
        <td>
          <a  class="btn btn-danger btn-sm" 
           href="{% url 'delete-request' request.id  %}"><i class="fa-solid fa-trash-can"></i> Уволить</a>
        </td>
      </tr>

    </tbody>
    {% endif %}
    {% endfor %}
    
  </table>
</div>

{% endblock %}